@model WebApplication1.UserProfile

@{


    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{ 

    <div>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form>

                        <div>
                            @Html.LabelFor(a => a.UserName)
                            <input type="text" placeholder="Usuario" required="" @Html.TextBoxFor(a => a.UserName)
                                   @Html.ValidationMessageFor(a => a.UserName)

                        </div>

                        <div>
                            @Html.LabelFor(a => a.Password)
                            <input type="password" placeholder="Contraseña" required="" @Html.PasswordFor(a => a.Password)
                                   @Html.ValidationMessageFor(a => a.Password)

                        </div>


                        <div>
                            <input type="submit" class="btn btn-default submit" value="Login" />
                        </div>
                    </form>
                </section>
            </div>
        </div>
        </div>

        }
